<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body class="cadastrar-se">


    
    <div class="cadastrar-se">
        <h2> cadastrar-se </h2>
        <p> e-mail ou numero de telefone: </p>
        <!-- adiciona ENTRADA DE TEXTO-->
         <input type="text"  name="Usuario"> </input>
         <p> criar senha:</p>
         <input type="password" name="confirmar senha">
         <!-- adiciona ENTRADA DE SENHA -->
         <p> confirmar senha </p>
         <input type='password' name="senha">
         <br>
         <br>
         <div class="botoes">
         <a href=""> entrar </a>

</div>

</body>
</html>