<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWITTER</title>
    <link rel="shortcut icon" href="static/twitter.png" type="image/x-icon">
    <link rel="stylesheet href " href="static/estilo.css">
</head>
<body>
    <div class="foryou">
        <img src="static/twitter.png" alt="">

        <h1>twitter</h1>
    </div>
    <div class="botoes">
        <a href="cadastro.html">create account </a> 
        
        <a href="login.html" > login </a>
    </div>
</body>
</html>